{% extends 'analyze/base.html' %}

{% block title %}| Главная{% endblock %}

{% block content %}
    {% if docs %}
        <ol class="list-group">
            {% for doc in docs %}
                <li class="list-group-item">
                    <p>id: {{ doc.id }}</p>
                    <p>path: {{ doc.path }}</p>
                    <p>created {{ doc.date }}</p>
                    <img class="img-fluid" src="{{ doc.image_url }}" alt="{{ doc.image_url }}">
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Ни одного документа не загружено</p>
    {% endif %}
{% endblock %}